[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flake8 = "==3.7.9"
flask = "==1.1.1"
flask-migrate = "==2.5.2"
flask-restful = "==0.3.7"
flask-sqlalchemy = "==2.4.1"
psycopg2-binary = "==2.8.4"
pytest = "==5.3.1"
pytest-cov = "==2.8.1"

[requires]
python_version = "3.8"
